.productsHeading {
  margin: 2vmax auto;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.parent {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0 3rem;
}

.filterBox {
  max-width: 300px;
  width: 25%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem 0 3rem;
  justify-content: center;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
  margin-bottom: 5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: white;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.171);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font: 300 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}

.category-link {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.6s;
  cursor: pointer;
}
.category-link:hover {
  color: tomato;
}
.active {
  color: tomato;
  font-weight: bold;
  font-size: 0.9rem;
}

@media (max-width: 650px) {
  .parent {
    flex-direction: column;
    align-items: center;
  }
  .products {
    padding: 1rem 0.5rem;
    justify-content: space-evenly;
  }
}
