* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;  */
  scroll-behavior: smooth;
}


/* page vertical scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #747272;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.reviews::-webkit-scrollbar {
  display: none;
}
.reviews {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.redColor {
  color: red;
}

.greenColor {
  color: rgb(2, 170, 2);
}
